cd.App {
  text-align: center;
}


input {
  width: 25%;
  height: 25px;
  border-radius: 5%;
  margin-bottom: 5%;
  
}

img {
  height: 80px;
  width: auto;
}

button {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  background-color: whitesmoke;


}